.input__control {
  border: $border;
  padding: $padding-sm;
  font-size: 1.6rem;
  height: $input__control-height;
  width: 100%;
  box-sizing: border-box;
  border-radius: .2rem;
  &:focus {
    border-color: $primary-highlight;
  }
}