// color palette
$primary: #505160;
$primary-highlight: #68829E;
$secondary: #598234;
$secondary-highlight: #AEBD38;


// width & height
$input-height: 7rem;
$input__label-height: 1.9rem;
$input__control-height: 4rem;
$input-min-width: 22rem;

// padding
$padding-sm: .5rem;
// font sizes

// border
$border-default: .2rem solid $primary;